.form-desc {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 17px;
  &__text {
    @include text-small;
    margin: 0;
    position: relative;
    color: $color-primary;
    opacity: 1;
    letter-spacing: 0.64px;

    &:before {
      content: url(/assets/arrow.svg);
      width: 56px;
      position: absolute;
      top: 28px;
      left: -28px;
      filter: invert(100%) sepia(100%) saturate(0%);
    }
  }
}