.form-send {
  padding-bottom: unset;

  &_input {
    width: 220px;
    line-height: 48px;
    border: 1px solid $color-bg-border;
    background-color: $color-primary;
    opacity: 0.4;
  }

  [type="email"]{
    @include text-uppercase;
    line-height: normal;
    padding-left: 30px;
    margin-right: 0;
    color: $coloron-primary-hight;
  }
  ::-webkit-input-placeholder {
    @include text-uppercase;
    opacity: 0.4;
    color: $black;
  }
  &_submit {
    margin: 0 0 0 -3px;
    z-index: 5;
    position: relative;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
    border: 1px solid $coloron-primary-hight;
    line-height: unset;
    cursor: pointer;
    background-image: url(/assets/arrow-send.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}