$black: #000000;
$white: #ffffff;
$color-primary: #f5f5f5;
$coloron-primary-hight: #ff8b38;
$coloron-primary-low: #333333;

$color-primary-text: #86878b;
$color-primary-title: #212121;

$color-icon-fill: #cccccc;

$color-btn-hover: #b86a31;

$color-form-border: #d6d6d6;
$color-form-placeholder: #bdbdbd;