@mixin fonts($color: $black, $font-family: inherit, $font-size: inherit, $font-weight: inherit) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

$OpenSansSemibold: 'Open Sans',
sans-serif;

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexin($justify, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo($width, $height) {
  content: '';
  display: block;
  width: $width;
  height: $height;
}

@mixin icon-border($padding, $width, $height, $border-width, $border-style, $border-color) {
  padding: $padding;
  width: $width;
  height: $height;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
  border-radius: 50%;
  text-align: center;
}

@mixin for-tablet-landscape-up {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 1000px) {
    @content;
  }
}