.submit-input {
  @include text-uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 190px;
  height: 50px;
  background-color: $coloron-primary-hight;
  cursor: pointer;
  text-decoration: none;
  line-height: 0;
  letter-spacing: 3.2px;

  &:hover {
    background-color: darken($coloron-primary-hight, 5.5%);
  }

  &:disabled:not(:active):hover {
    background-color: $coloron-primary-hight;
    box-shadow: none;
  }
}