@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.container:last-of-type {
  padding: 100px 100px 40px;
}

.container-content {
  position: relative;
  max-width: 600px;
}
.container-content_white {
  border: solid #fff;
  border-width: 0 2px 2px 2px;
}
.container-content_white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #fff;
  width: 25%;
}
.container-content_white::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 2px solid #fff;
  width: 25%;
}
.container-content_black {
  border: solid #3c3c3c;
  border-width: 0 2px 2px 2px;
}
.container-content_black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #3c3c3c;
  width: 25%;
}
.container-content_black::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 2px solid #3c3c3c;
  width: 25%;
}
.container-content__title {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.97px;
  position: absolute;
  top: -12px;
  background-color: #fff;
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: center;
}
.container-content__title_white {
  color: #fff;
}
.container-content__title_small {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  text-align: center;
}
.container-content__text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  padding: 35px 66px;
}
.container-content__text_white {
  color: #fff;
}
.container-content__text_last-child {
  padding: 35px 66px 60px;
}
.container-content__img {
  display: block;
  width: 53px;
  height: 55px;
  margin: 0 auto;
  padding: 50px 0 27px;
}
.container-content__img_first-child {
  padding: 75px 0 27px;
}
.container-content__button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.container-content__button-link {
  display: inline-flex;
  padding: 23px 138px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  text-decoration: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}
.container-content__button-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .container-content__text {
    padding: 50px 90px;
  }
}
@media screen and (max-width: 630px) {
  .container {
    padding: 50px;
  }

  .container-content {
    width: 100%;
  }

  .container-content__text {
    padding: 50px;
  }

  .container-content__button-link {
    padding: 23px 50px;
  }
}
html {
  scroll-behavior: smooth;
}

.header {
  background: #abb6ca url("/assets/bg-main.png");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-top: 26vh;
  width: 43px;
  height: 46px;
}
.header__title {
  color: #ffffff;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.75px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 35px;
  line-height: 1.2;
}
.header__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: unset;
}
.header__scroll-wrapper {
  display: block;
  margin-top: auto;
  margin-bottom: 77px;
  cursor: pointer;
}
.header__scroll-wrapper .header__scroll {
  width: 15px;
  height: 25px;
}

.container_services {
  padding: 70px;
  background: #abb6ca url("/assets/bg-services.png");
  background-size: cover;
}

.tiles {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
}
.tiles-list {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 100%;
}
.tiles-list__item {
  position: relative;
}
.tiles-list__item:nth-of-type(1) {
  flex-grow: 1;
  -ms-flex: 1 0 0;
  margin-right: 5px;
}
.tiles-list__item:nth-of-type(2) {
  flex-grow: 1.5;
  -ms-flex: 1.5 0 0;
}
.tiles-list__item:nth-of-type(3) {
  flex-grow: 1;
  -ms-flex: 1 0 0;
  margin-left: 5px;
}
.tiles-list__item:hover a {
  opacity: 0.8;
}
.tiles-list__link {
  position: relative;
  text-decoration: none;
}
.tiles-list__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.97px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.tiles-list__img {
  width: 100%;
  height: 158px;
}

@media screen and (max-width: 870px) {
  .tiles-list {
    flex-direction: column;
    width: 100%;
  }
  .tiles-list__item {
    margin-bottom: 5px;
  }
  .tiles-list__item:nth-of-type(1) {
    margin-right: 0;
  }
  .tiles-list__item:nth-of-type(2) {
    flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
  }
  .tiles-list__item:nth-of-type(3) {
    margin-left: 0;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.footer__logo {
  background-image: url("/assets/footer_logo.png");
  background-size: contain;
  width: 23px;
  height: 25px;
  margin-right: 30px;
}
.footer__сopyright {
  display: flex;
  align-items: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
