@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 50px 100px;
}

.text_white {
  color: #fff;
}

.h2 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: absolute;
  top: -17px;
  background-color: #fff;
  background-color: transparent;
  display: flex;
  width: 100%;
  align-items: center;
}
.h2::before {
  content: "";
  border-top: 2px solid;
  margin: 0 60px 0 -2px;
  flex: 1;
}
.h2::after {
  content: "";
  border-top: 2px solid;
  margin: 0 -2px 0 60px;
  flex: 1;
}
.h2_white {
  color: #fff;
}
.h2_white::before {
  content: "";
  border-top: 2px solid;
  margin: 0 60px 0 -2px;
  flex: 1;
}
.h2_white::after {
  content: "";
  border-top: 2px solid;
  margin: 0 -2px 0 60px;
  flex: 1;
}

h3 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.block_bg-img {
  padding: 70px;
}

.block_inner {
  position: relative;
  border: solid #3c3c3c;
  border-width: 0 2px 2px 2px;
  max-width: 740px;
}
.block_inner_white {
  border: solid #fff;
  border-width: 0 2px 2px 2px;
}

.block_main {
  background: #abb6ca url("/assets/bg-main.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: unset;
}
.block_main_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin-top: 100px;
}

header .header__logo {
  width: 43px;
  height: 46px;
}
header .header__scroll {
  display: block;
  width: 15px;
  height: 25px;
  margin-bottom: 50px;
  cursor: pointer;
}
header h1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.75px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 35px;
}
header .header__text {
  width: 573px;
  color: #ffffff;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 19.33px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 100px;
  padding: unset;
}

@media screen and (max-width: 1590px) {
  .block_main {
    background-position: right;
  }
}
.block_about {
  height: 50vh;
}

.block_services {
  background: #abb6ca url("/assets/bg-services.png");
  background-size: cover;
}

.block_what-we-do__item .block__img {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
}
.block_what-we-do__item .block__img_first-child {
  padding: 100px 0 50px;
}

.block_our-works {
  padding: unset;
}
.block_our-works .our-works__list {
  display: flex;
}
.block_our-works .our-works__list__item {
  position: relative;
}
.block_our-works .our-works__list__item:nth-of-type(1) {
  flex-grow: 1;
  margin-right: 5px;
}
.block_our-works .our-works__list__item:nth-of-type(2) {
  flex-grow: 1.5;
}
.block_our-works .our-works__list__item:nth-of-type(3) {
  flex-grow: 1;
  margin-left: 5px;
}
.block_our-works .our-works__list__item:hover a {
  opacity: 0.8;
}
.block_our-works .our-works__list__item a {
  position: relative;
  text-decoration: none;
}
.block_our-works .our-works__list__item img {
  width: 100%;
  height: auto;
}
.block_our-works .our-works__list__item .item_name {
  color: #ffffff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 1024px) {
  .block_our-works .our-works__list {
    flex-direction: column;
    width: 100%;
  }
  .block_our-works .our-works__list__item {
    margin-bottom: 5px;
  }
  .block_our-works .our-works__list__item:nth-of-type(1) {
    margin-right: 0;
  }
  .block_our-works .our-works__list__item:nth-of-type(2) {
    flex-grow: 1;
  }
  .block_our-works .our-works__list__item:nth-of-type(3) {
    margin-left: 0;
  }
}
footer .block_footer {
  padding-bottom: 50px;
}
footer .block_footer .footer__button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
footer .block_footer .footer__button_link {
  display: inline-flex;
  padding: 23px 138px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  text-decoration: none;
}
footer .block_footer .footer__button_link:hover {
  opacity: 0.8;
}
footer .block_footer .footer__button_link span {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}
footer .block_footer .footer__сopyright {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
footer .block_footer .footer__сopyright .footer__logo {
  background-image: url("/assets/footer_logo.png");
  width: 35px;
  height: 37px;
  margin-right: 30px;
}
footer .block_footer .footer__сopyright p {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
