@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
.text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 17.26px;
  text-align: center;
  padding: 50px 110px;
}
.text_white {
  color: #fff;
}
.h2 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.97px;
  position: absolute;
  top: -12px;
  background-color: #fff;
  background-color: transparent;
  display: flex;
  width: 100%;
  align-items: center;
  // padding: 0 60px;
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translate(-50%, -50%);
      &::before {
        content: '';
        border-top: 2px solid;
        margin: 0 60px 0 -2px;
        flex: 1;
    }
      &::after {
        content: '';
        border-top: 2px solid;
        margin: 0 -2px 0 60px;
        flex: 1;
    }
  &_white {
    color: #fff;
    // background-color: transparent;
    // display: flex;
    // width: 100%;
    // align-items: center;
      &::before {
        content: '';
        border-top: 2px solid;
        margin: 0 60px 0 -2px;
        flex: 1;
    }
      &::after {
        content: '';
        border-top: 2px solid;
        margin: 0 -2px 0 60px;
        flex: 1;
    }
  }
}
.text_pre-line {
  white-space: pre-line;
}
h3 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .text {
    padding: 50px 90px;
  }
}
@media screen and (max-width: 630px) {
  .text {
    padding: 50px;
  }
}