.button {
  border: 1px solid #626262;
  display: flex;
  width: 98px;
  padding: 21px 35px;
  margin: 80px auto;
  cursor: pointer;
  text-decoration: none;

  &__content {
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  &:hover {
    background-color: darken(#626262, 1.5%);
    color: lighten(#626262, 18%);
    transition: all 250ms linear;
  }

  &:hover .button__content {
    color: #fff;
  }
}