/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  min-height: calc(100vh - 70px);
}

.container-fixed-width {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  margin: 66px 150px;
}
.container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}
.container-content:hover {
  cursor: pointer;
  opacity: 0.6;
}
.container__img {
  width: 420px;
  height: 279px;
  margin-bottom: 32px;
}
.container__section-link {
  display: block;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 28px;
  text-decoration: none;
}
.container__section-link:hover {
  text-decoration: underline;
}
.container__title {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 34px;
}
.container .div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
.container__description {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 30px;
}
.container__comment {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
.navbar-logo {
  color: #000000;
  font-family: Inconsolata;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: none;
}
.navbar-list {
  display: flex;
}
.navbar-list__item {
  margin-right: 120px;
}
.navbar-list__item:last-child {
  margin-right: 0;
}
.navbar-list__link {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-list__link:hover {
  text-decoration: underline;
}
.navbar-list__comment {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 9px;
  font-weight: 300;
  text-transform: uppercase;
}

.mail-container {
  padding: 50px;
  text-align: center;
  margin: 40px 0 100px 0;
  background-color: #f0f0f0;
}
.mail-container__title {
  color: #333333;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
}
.mail-container__email {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  max-width: 400px;
  margin: 70px auto 40px auto;
  padding: 14px 0;
}
.mail-container__input {
  background: transparent;
  border: none;
  width: 100%;
}
.mail-container__input::-webkit-input-placeholder {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.mail-container__input:focus {
  outline: none;
}
.mail-container__submit {
  background-image: url(/assets/send_icon.png);
  background-color: transparent;
  border: unset;
  width: 32px;
  height: 17px;
  cursor: pointer;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 0 70px;
}
.img-container .image-big {
  width: 100%;
}

.button {
  border: 1px solid #626262;
  display: flex;
  width: 97px;
  padding: 21px 35px;
  margin: 80px auto;
  cursor: pointer;
  text-decoration: none;
}
.button__content {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.button:hover {
  background: #5e5e5e;
  color: #909090;
  transition: all 250ms linear;
}
.button:hover .button__content {
  color: #fff;
}

.footer {
  display: flex;
  padding: 40px 150px;
  background-color: #f0f0f0;
}
.footer__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__links-text {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer__links-text:not(:last-of-type) {
  margin-right: 17px;
}
.footer__links-icon {
  display: inline-block;
  text-decoration: none;
}
.footer__links-icon:not(:last-of-type) {
  margin-right: 17px;
}
.footer__links-icon .icon-facebook {
  width: 8px;
  height: 14px;
}
.footer__links-icon .icon-twitter {
  width: 18px;
  height: 13px;
}
.footer__links-icon .icon-instagram {
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=main.css.map */
