footer {
  .block_footer {
    padding-bottom: 50px;
    .footer__button {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      &_link {
        display: inline-flex;
        // justify-content: center;
        // align-items: center;
        padding: 23px 138px;
        border: 2px solid #3c3c3c;
        background-color: #3c3c3c;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
        span {
          color: #ffffff;
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2.54px;
        }
      }
    }
    .footer__сopyright {
      display: flex;
      align-items: center;
      margin-top: 60px;
      .footer__logo {
        background-image: url("/assets/footer_logo.png");
        width: 35px;
        height: 37px;
        margin-right: 30px;
      }
        p {
          color: #3c3c3c;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
        }
    }
  }
}