.block_main {
  background: #abb6ca url("/assets/bg-main.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0;
  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-top: 100px;
  }
}
header {
  .header__logo {
    width: 43px;
    height: 46px;
  }
  .header__scroll {
    display: block;
    margin-bottom: 50px;
    cursor: pointer;
    img {
      width: 15px;
      height: 25px;
    }
  }
  h1 {
    color: #ffffff;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.75px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
  }
  .header__text {
    //width: 573px;
    color: #ffffff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.33px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 100px;
    padding: unset;
  }
}

@media screen and (max-width: 1590px) {
  .block_main {
    background-position: right;
  }
}