html {
  scroll-behavior: smooth;
}
.header {
  background: #abb6ca url("/assets/bg-main.png");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    margin-top: 26vh;
    width: 43px;
    height: 46px;
  }
  &__title {
    color: #ffffff;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.75px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
    line-height: 1.2;
  }
  &__text {
    color: #ffffff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.33px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: unset;
  }
  &__scroll-wrapper {
    display: block;
    margin-top: auto;
    margin-bottom: 77px;
    cursor: pointer;
    .header__scroll {
      width: 15px;
      height: 25px;
    }
  }
}