.footer {
  position: relative;
  display: flex;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-bottom: 230px solid transparent;
    border-right: 230px solid $coloron-primary-hight;
    opacity: .8;
  }
}