.footer {
  display: flex;
  flex-shrink: 0;
  background-color: $black;
  text-align: center;
  &__icon-list {
    padding: 20px 0;
  }
  &__text {
    margin: 0;
    padding: 0 0 15px;
    opacity: 0.5;
    @include fonts($white, "Open Sans", 12px, 400);
  }
}
