.header {
  background: rgba(0, 0, 0, 1) url(/assets/head.png) no-repeat;
  background-size: cover;

  &__container {
    @include flex;
    min-height: calc(100vh - 94px);

    @include for-tablet-landscape-up {
      padding: 60px;
    }

    ;

    @include for-tablet-portrait-up {
      flex-direction: column;
    }
  }

  &__content {
    width: 516px;

    @include for-tablet-portrait-up {
      width: 100%;
      padding-bottom: 40px;
    }
  }

  &__logo {
    margin: 0;
    @include fonts($coloron-primary-hight, 'Open Sans', 60px, 300);
    text-transform: uppercase;
  }

  &__accent {
    @include fonts($white, 60px);
    font-weight: 600;
  }

  &__title {
    @include fonts($white, Raleway, 36px, 400);
    text-transform: uppercase;

    &:after {
      @include pseudo(80px, 0);
      margin-top: 40px;
      margin-bottom: 40px;
      background-color: $white;
      border: 1px solid $white;
    }
  }

  &__text {
    @include fonts($white, Raleway, 16px, 300);
    margin-bottom: 40px;
    line-height: 23px;
    opacity: 0.6;
  }
}