.section {
  position: relative;
  padding: 100px 0;
  background-color: $color-primary;

  @include for-tablet-portrait-up {
    padding: 50px 0;
  }

  &_white {
    background-color: $white;
  }

  &_small {
    z-index: 5;
    padding: 22px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
    background-color: $white;
  }

  &_background-img {
    background: black url(/assets/bg-town.png) no-repeat;
    background-size: cover;
    text-align: center;
  }

  &__left {
    width: 420px;

    @include for-tablet-portrait-up {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &__right {
    width: 420px;

    @include for-tablet-portrait-up {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    @include fonts($coloron-primary-low, "Open Sans", 20px, 700);
    padding-bottom: 50px;

    &_center {
      text-align: center;
    }

    &_no-indent {
      padding-bottom: 12px;
    }

    &_underline-left:after {
      @include pseudo(80px, 2px);
      margin: 32px 0;
      background-color: $coloron-primary-hight;
    }

    &_underline-center:after {
      @include pseudo(80px, 2px);
      margin: 32px auto;
      background-color: $coloron-primary-hight;
    }

    &_underline-light:after {
      @include pseudo(80px, 2px);
      margin: 32px auto;
      background-color: $white;
    }

    &_small {
      font-size: 14px;
    }

    &_uppercase {
      @include fonts($color-primary-title, Raleway, 36px, 400);
      text-align: center;
      line-height: 43px;
      text-transform: uppercase;
    }

    &_light {
      color: $white;
    }
  }

  &__text {
    margin: 0;
    @include fonts($color-primary-text, "Open Sans", 14px, 400);
    text-align: center;
    line-height: 20px;

    &_left {
      text-align: left;
    }

    &_paragraph {
      padding-bottom: 30px;
    }

    &_quote {
      position: relative;
      padding: 24px 12px;
      margin-bottom: 24px;
      background-color: $color-primary;
      font-style: italic;

      &:after {
        position: absolute;
        top: 100%;
        left: 5%;
        content: "";
        border: 20px solid transparent;
        border-top: 20px solid $color-primary;
      }
    }

    &_light {
      opacity: 0.6;
      color: $white;
    }
  }

  &__icon-list {
    @include for-tablet-portrait-up {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}